<div class="c-card">
  <a href={{link.url}}>
    <img class="c-card__image" src={{image_source}} alt={{image_alt_text}}>
  </a>

  <h3 class="c-card__title">{{title}}</h3>
  <p class="c-card__description">{{description}}</p>
  <p class="c-card__link"><a href={{link_url}}>{{link_text}}</a></p>
</div>
