<div class="c-location u-clearfix">

  <div class="c-location__details">
    <h2 class="c-location__title"><a href="{{title_url}}" target="_blank">{{title}}</a></h2>
    <div class="c-location__address">{{address}}</div>
    <div class="c-location__telephone">{{telephone}}</div>
  </div>

  <div class="c-location__status">
    <div class="c-location__state c-location__state--{{#if open_now}}open{{else}}closed{{/if}}">
        {{status}}
    </div>
    <div class="c-location__meta-status">{{meta_status}}</div>
  </div>

  <div class="c-location__distance-wrapper  u-clearfix">
    <span class="c-location__distance">{{distance}}&nbsp;</span>
    <span class="c-location__directions">
      <a class="c-location__action" href="{{distance_url}}" target="_blank">Get directions</a>
    </span>
  </div>

</div>
