<h1>Find local NHS services</h1>
<form>
  <label for="find_service_type">NHS service</label>
  <select id="find_service_type" name="find_service_type">
    {{#find_service_types}}
      <option value="{{value}}"{{#if isSelected}} selected{{/if}}>{{label}}</option>
    {{/find_service_types}}
  </select>
  <label for="find_service_search">Your location</label>
  <input type="text" id="find_service_search" name="find_service_search"
         value="{{find_service_search}}">
  <input type="submit" value="Find services">
  {{#if automaticLocation}}
  <input type="hidden" name="lat" value="{{lat}}">
  <input type="hidden" name="long" value="{{long}}">
  {{/if}}
</form>
<p><strong>{{resultCount}}</strong> {{resultDescription}}</p>
<div id="results">
{{#if askToSaveLocation}}
  <div id="save-location" data-user-location="{{find_service_search}}">
    <p>
      <strong>Save time and remember this location?</strong>
      <a class="refuse-save-location">&#x24E7;</a>
    </p>
    <p>
      <button type="button" class="button" id="save-location-button">Save</button>
      or
      <a class="refuse-save-location">close</a>
    </p>
  </div>
{{/if}}
{{#if resultCount}}
  {{#results}}
  <div class="result">
    <p class="who">
      <span class="name">{{name}}</span>
      {{#rating}}<span class="rating rating-{{.}}">{{.}}</span>{{/rating}}
      <span class="address">{{address}}</span>
      <span class="phone">{{phone}}</span>
    </p>
    <p class="where">
      <span class="distance">{{distance}} away</span>
    </p>
    <p class="when">
      {{#hours}}
        {{#if open_now}}
        <span class="open">OPEN</span>
          {{#closes}}<span class="closes{{#soon}} soon{{/soon}}">{{time}}</span>{{/closes}}
        {{else}}
        <span class="closed">CLOSED</span>
          {{#opens}}<span class="opens{{#soon}} soon{{/soon}}">{{time}}</span>{{/opens}}
        {{/if}}
      {{/hours}}
    </p>
    <p class="how">
      <a class="directions">Get directions</a>
    </p>
  </div>
  {{/results}}
{{/if}}
</div>

<script>
var elSaveLocation = document.getElementById('save-location')

document.getElementById('save-location-button').addEventListener('click', saveLocation)
Array.prototype.forEach.call(
  document.querySelectorAll('.refuse-save-location'),
  function (el) {
    el.addEventListener('click', refuseSaveLocation)
  }
)

function removeSaveLocation () {
  elSaveLocation.parentNode.removeChild(elSaveLocation)
}

function refuseSaveLocation () {
  document.cookie = 'saveRefused=true;path=/'
  removeSaveLocation()
}

function saveLocation () {
  var expires = new Date()
  expires.setDate(expires.getDate() + 7)
  document.cookie = 'savedLocation=' +
                    encodeURIComponent(elSaveLocation.getAttribute('data-user-location')) +
                    ';path=/;expires=' +
                    expires.toUTCString()
  removeSaveLocation()
}
</script>
